body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
  text-align:center;
}

img {
  display: block;
  max-width: 100%;
}

p{
  margin:0;
}

header{
  background-image: url(../img/fond_header.png);
  color: #e6f3ff;
  padding: 30px;
  border-top: 5px solid black;
}

h1{
  margin-top: 0;
}

h2,
h3{
  margin:0;
}

.slogan{
  margin-bottom: 0;
  font-size:17px;
}

.box-titel{
  background-color: black; 
  color: #e6f3ff;
  padding: 33px;
  margin-bottom: 25px;
}

.section-intro{
  background-color: #e6f3ff;
}

.section-produit{
  background-color: black;
  color: #e6f3ff;
}

.question{
  background-color: #e6f3ff;
  color: black;
  margin: 0 30px;
}

footer{
  background-color: black;
  color: white;
}

.cta-container{
  display:flex;
  align-items: center;
  flex-direction: column;
}

.cta{
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 30px;
}

.section-contact{
  background-color: #e6f3ff;
}

.cta-light{
  background-color: #e6f3ff;
  color: black;
}